<%- include("header");-%>


<h2 class="mb-4">About</h2>
        <p> Flixr is a movie recommendation system that seeks to help its users make better choices about the movies that they watch on popular streaming services, regardless of the streaming service to which the movie may belong. ‘Flixr’ is an important resource for users of all age groups. It aims to assist its users in making choices regarding the movies that they watch on streaming services. The system recommends movies to the users based on their ratings. The system records the ratings provided by a particular user and recommends other similar movies, by virtue of genre, plot and actors. The goal of this application is to improve movie recommendations to our users, while also gaining insights into customer behavior.</p>
        
        <p>Flixr operates efficiently on Windows, Linux and Mac operating systems and on any hardware platform such as desktop, laptop, tablets or smart phones. This product does not require external hardware and peripheral devices. The product requires a secured network connection with an uninterrupted access to the internet.</p>



<%- include("footer");-%>
