<%- include("header");-%>

<div class="container text-left ">
  <h4>Add a New Movie:</h4>
</div>

<div class="container bg-white border-right border-left border-top border-bottom shadow-sm text-left py-3">
  <label for="">Name/Id:</label>
  <input class="form-control mb-2" type="text" name="" value="">
  <button class="btn btn-primary" type="button" name="button">Find</button>
  <button class="btn btn-success" type="button" name="button">Re-Train</button>
</div>

<div class="container text-left mt-5">
  <h4>Analyze Ratings:</h4>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Count</th>
      <th scope="col">Rating(avg.)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">4</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">5</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">6</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">7</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">8</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">9</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>

    <tr>
      <th scope="row">10</th>
      <td>Mulan</td>
      <td>100</td>
      <td>90</td>
    </tr>


  </tbody>
</table>



<%- include("footer");-%>
