<%- include("header");-%>


<h2 class="mb-4">Contact</h2>
        <p>Thomas Thompson</p>
        <p>Fangzhou Guo</p>
        <p>Zion Whitehall</p>
        <p>Vraj Desai</p>



<%- include("footer");-%>
