<!DOCTYPE html>
<!-- //created by Fangzhou Guo -->
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="/stylesheets/clapperboard.png">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

  <title>flixr</title>
</head>
  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm ">
      <img style="width: 50px; height:50px;"src="/stylesheets/clapperboard.png" alt="">
      <h1 class="my-0 mr-md-auto ml-2 font-weight-normal navfont"> flixr</h1>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/signup">Sign up</a>
        <a class="p-2 text-dark" href="/signin">Sign in</a>
        <a class="p-2 text-dark" href="/logout">Logout</a>
      </nav>
    </div>

    <div class="wrapper d-flex align-items-stretch ">
      <div class="bg-white border-right shadow-sm">
        <nav id="sidebar" class="active ">
  				<div class="p-4 ">
  	        <ul class="list-unstyled components mb-5">
  	          <li class="active">
  	            <a href="/" class="text-dark"><span class="fa  mr-3"></span> Home</a>
  	          </li>
              <br>
              <li class="active">
  	            <a href="/rating" class="text-dark"><span class="fa  mr-3"></span> Rating</a>
  	          </li>
              <br>
              <li class="active">
  	            <a href="/recommend/top10" class="text-dark"><span class="fa  mr-3"></span> Recommend</a>
  	          </li>
              <br>
              <li class="active">
  	            <a href="/admin/rating" class="text-dark"><span class="fa  mr-3"></span> Admin</a>
  	          </li>
              <br>
  	          <li>
  	              <a href="/about" class="text-dark"><span class="fa  mr-3"></span> About</a>
  	          </li>
              <br>
  	          <li>
                <a href="/contact" class="text-dark"><span class="fa  mr-3"></span> Contact</a>
  	          </li>
  	        </ul>
  	      </div>
      	</nav>
      </div>


        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5 pt-5 text-center">
