<%- include("header");-%>



  <h1>HOME</h1>

  <p>Flixr aims to assist its users in making choices regarding the movies that they watch on streaming services. The system recommends movies to the users based on their ratings. The system records the ratings provided by a particular user and recommends other similar movies.</p>

  <p>Flixr is for users of all age groups, ranging from teenagers to senior adults who wish to find new movies that align with their tastes. This product requires the user to have a device such as smartphone, laptop, computer, tablet, an uninterrupted internet access and a secured network connection.</p>

<%- include("footer");-%>
