<%- include("header");-%>


<div class="container ">
  <div class="row">
    <div class="col">
      <h2 class="text-left">Recommend:</h2>
    </div>

    <div class="col">
      <div class="text-right dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/recommend/top10">Top 10</a>
          <a class="dropdown-item" href="/recommend/top25">Top 25</a>
          <a class="dropdown-item" href="/recommend/top50">Top 50</a>
          <a class="dropdown-item" href="/recommend/a~z">A~Z</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container ">

     <div class="mt-5 row text-center" style="display:flex; flex-wrap: wrap;">
       <% items.forEach(function(item){ %>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="thumbnail">
                   <img src=<%= item.poster_url%> alt="..." class="img-thumbnail" style="width:140px; height:200px;">
                   <div class="caption">
                       <h4><%=item.title%></h4>
                   </div>
                </div>
            </div>

      <%});%>




    </div>
</div>



<%- include("footer");-%>
