/* //created by Fangzhou Guo */
.title{
  font-family: 'Tangerine', serif;
  font-size: 66px;
}

.topspace{
   margin-top:80px;
 }

#content{
  width: 100%;
  padding: 40px;
  min-height: 100vh;
  transition: all 0.1s;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

.showMoive{
  /* border: 3px solid #73AD21; */
}

.ratingbody{
  position: relative;
  /* width: 100px; */
  height: 150px;
  /* border: 3px solid #73AD21; */
}

.rating{
  /* border: 3px solid #73AD21; */
  position: absolute;
  top:20%;
  left: 50%;
  transform:translate(-50%,-50%) rotateY(180deg);
  display: flex;
}

.buttonp{
  position: absolute;
  top:66%;
  left: 51%;
  transform:translate(-50%,-50%) ;
  display: flex;
}

.rating input{
  display: none;
}

.rating label{
  display:block;
  cursor: pointer;
  width: 50px;
}

.rating label:before{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: #101010;
}

.rating label:after{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 35px;
  color: #fee12b;
  top: 0;
  opacity:0;
  transition: .2s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.rating label:hover:after,
.rating label:hover~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}

.fixsize{
  text-align: center;
  height: 500px;
  width: 600px;
  background-color: powderblue;
}
